{% extends 'base.html' %} {% block body %}

<div class="container my-5 w-25">
  <form method="POST" action="{% url 'reset_password'%}">
    {% csrf_token %}
    <div class="mb-3">
      <input
        type="text"
        name="username"
        class="form-control"
        placeholder="Enter your username"
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        name="password"
        class="form-control"
        placeholder="Enter password"
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        name="confirm_password"
        class="form-control"
        placeholder="Confirm password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Reset password</button>
  </form>
  <p>
    Didn't forget password?
    <a href="{% url 'index' %}"> Login </a>
  </p>
</div>
{% endblock body %}
